@charset "utf-8";
/*
    Author: John Bradley
    Date: 05/20/2020
*/

* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #000000;
    background-color: #FFFFFF;
}

body {
    margin: 15px 30px;
    box-shadow: rgb(51, 51, 51) 15px 0px 25px,
                 rgb(51, 51, 51) -15px 0px 25px;
}
header {
    background-color: #CC99CC;
    color: #660066;

}

header h1, h3 {
    background: radial-gradient(white, #421C52);
    background-color: #CC99CC;
    color: black;
    border-radius: 75px;
    text-align: center;
}
