@charset "utf-8";
/*-------------------
    Final Exam.CSS
    Week 10
    Author: John Bradley
    Date: 05/20/2020
    Files: finalExam.html
                    finalExam.css
                    images/picture.jpg

            This site uses hyperlinks, table and sections in HTML. With CSS, I chose the same color scheme as my bowling ball. I was having trouble committing to one scheme
            so I scratche everything and revamped the scheme. I set the parameters for the elements listed in the .css layout, however over time I had to adjust margins in order
            so get the positioning correctly.
------------------------*/
html {
    background-color: #333366; 
}
header h1 {
    font-size: 36pt;
    margin: 35px 0px 0px 0px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
}
header h3 {
    font-size: 24pt;
    margin: 0px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 0px
}
header img {
    width: 150px;
    border: 1px solid;
    float: right;
    display: block;
    margin: -117px -7px -55px;
    height: 155px; 
}
body {
    font-family: Verdana, 'Tacoma', Helvetica;
    font-size: 1.3em;
    width: 85%;
    margin: 30px 125px 0px;
    background-color: #336699;
}
nav {
    text-decoration: none;
    color: white;
    list-style-type: none;
    position: relative;
    text-align: left;
    display: horizontal;
    margin: 10px 15px 0px;
    padding: 25px;
    width: 25%;
    
}
section {
    width: 75%;
    margin: 0px 410px 0px;
    background-color: #CCFFFF;
    
}
section.aboutMe h1 {
    background-color: #FF6600;
    margin: -120px 0px 0px;
}
section.assignments h1 {
    background-color: #FF6600;
    margin: -15px 0px 0px;
    display: block;
    
}

table {
    border: none;
    padding: 5px 5px 2px 2px;
    width: 75%;
    margin-left: 410px;
    background-color: #CCFFFF;
}
html h1 {
    font: Arial;
    font-size: 22pt;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
    padding: 15px 0px 0px 10px;
}
html h3 {
    font: Arial;
    font-size: 16pt;
    text-align: left;
}
p {
    margin: 15px;
    padding: 15px;
}
a {
    text-decoration: none;
    position: relative;
}
a:hover {
    text-decoration: none;
    color: white;
}
a::after {
    text-decoration: none;
    color: white;
}
table th {
    font-size: 1em;
    text-align: center;
    background-color: #666666;
    margin: 55px 0px 20px;
}
table td {
    font-size: 0.85em;
    text-align: center;
    margin: 50px 0px 15px;
}
footer {
    color: orange;
    text-align: center;
    margin: 0px 600px -100px;
    background: radial-gradient(#336699, #333366);
    border-radius: 10px;
    width: 50%;
}
